<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Page</title>    
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>PORTFOLIO</title>
    
</head>

<body>
<div class="frame">


    <div class="main_frame">


        <div class="left_frame">

            <div class="left_1">

                <div class="left_1-1">

                    <img src="images/profile.png" style="border-radius: 50%;">
                </div>
                <div class="left_1-2"><%=user.name%></div>
                <div class="left_1-3"><%=user.profession%></div>

                
                <div class="left_icons">

                  
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Twitter.svg" class=""/>
                        </div>
                    </a>


                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Instagram.svg" class=""/>
                        </div>
                    </a>


                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Twitter.svg" class=""/>
                        </div>
                    </a>
                   
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Youtube.svg" class=""/>
                        </div>
                    </a>


                   <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Youtube.svg" class=""/>
                        </div>
                    </a>



                     <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Linkeding.svg" class=""/>
                        </div>
                    </a>


                </div>
            </div>

            <div class="marginer"></div>

            <div class="left_2">
                <div class="left_2_info_item">
                    <span class="left_2_info_1_left">Age:</span>
                    <span class="left_2_info_1_right"><%=user.age%></span>
                </div>

                <div class="left_2_info_item">
                    <span class="left_2_info_2_left">Residence:</span>
                    <span class="left_2_info_2_right"><%=user.residence%></span>
                </div>

                <div class="left_2_info_item">
                    <span class="left_2_info_3_left">Frelance:</span>
                    <span class="left_2_info_3_right"><%=user.profession%></span>
                </div>

                 <div class="left_2_info_item">
                    <span class="left_2_info_4_left">Address:</span>
                    <span class="left_3_info_4_right"><%=user.address%></span>
                </div>
            </div>



            <div class="marginer"></div>


            <div class="left_3">
                <div class="left_3_lang">Language</div>
                <div class="left_3_info_item">
                    <span class="left_3_info_1_left">Uzbek:</span>
                    <span class="left_3_info_1_right">100%</span>
                </div>
                <div class="margin_line"></div>

                <div class="left_3_info_item">
                    <span class="left_3_info_1_left">Russian:</span>
                    <span class="left_3_info_1_right">80%</span>
                </div>
                <div class="margin_line"></div>

                <div class="left_3_info_item">
                    <span class="left_3_info_1_left">English:</span>
                    <span class="left_3_info_1_right">60%</span>
                </div>
                <div class="margin_line"></div>

                 <div class="left_3_info_item">
                    <span class="left_3_info_1_left">Korean:</span>
                    <span class="left_3_info_1_right">60%</span>
                </div>
                
            </div>

            <div class="marginer"></div>



            <div class="left_4">
                 <div class="left_4_skill">Skills</div>
                <div class="left_3_info_item">
                    <span class="left_3_info_1_left">Html</span>
                    <span class="left_3_info_1_right">100%</span>
                </div>
                <div class="margin_line"></div>

                <div class="left_3_info_item">
                    <span class="left_3_info_1_left">CSS</span>
                    <span class="left_3_info_1_right">80%</span>
                </div>
                <div class="margin_line"></div>

                <div class="left_3_info_item">
                    <span class="left_3_info_1_left">Js</span>
                    <span class="left_3_info_1_right">60%</span>
                </div>
                <div class="margin_line"></div>

                 <div class="left_3_info_item">
                    <span class="left_3_info_1_left">PHP</span>
                    <span class="left_3_info_1_right">60%</span>
                </div>
                <div class="margin_line"></div>

                <div class="left_3_info_item">
                    <span class="left_3_info_1_left">C++</span>
                    <span class="left_3_info_1_right">60%</span>
                </div>
                <div class="margin_line"></div>
               
            </div>


            <div class="marginer"></div>


            <div class="left_5">
                 <div class="left_5_extra_skill">Extra Skills</div>

                 <div class="left_3_info_item">
                    <span class="left_5_info_1_left">Bootstrap,</span>
                    <span class="left_3_info_1_right">100%</span>
                </div>
                <div class="margin_line"></div>

                <div class="left_3_info_item">
                    <span class="left_3_info_1_left">Java</span>
                    <span class="left_3_info_1_right">70%</span>
                </div>
                <div class="margin_line"></div>

                 <div class="left_3_info_item">
                    <span class="left_3_info_1_left">Python</span>
                    <span class="left_3_info_1_right">90%</span>
                </div>
                <div class="margin_line"></div>

                
            <div class="marginer"></div>


            </div>
            </div>

        <div class="midd_frame">
            <div class="midd_top_con">
               <div>
                 <div class="midd_top_info-1">
                    Doctor neurologists in OHSU Hospital 
                </div>
                <div class="midd_top_info-2">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, <br>
                     volutpat feugiat placerat lobortis. Natoque rutrum semper sed <br>
                     suspendisse nunc lectus. 
                </div>
               

                <div><span class="midd_top_btn">HIRE ME</span class="midd_top_btn_strelka"></span>
                </div> 

               </div>
                
                    <div> 
                    <img src="images/prof_img.png" alt="">
                    </div>
            </div>
                    
            <div>
                <div class="bott_midd_con">
                My Services
                </div>
                <div class="bott_midd_con-2">
                    Amet minim mollit non deserunt ullamco est sit aliqua <br>
                    dolor do amet sint. Velit officia consequat duis enim <br>
                    velit mollit. lorem ipsum
                </div>

                <div class="bott_midd_con_icons">

                    <div class="bott_midd_cons">
                        <img src="icon/Group.svg" alt="">
                        
                         <p>Web Development</p>
                         <span>Blog, E-Commerce</span>
                    </div>
                     <div class="bott_midd_cons">
                         <img src="icon/Group-2.svg" alt="">
                         <p>Web Development</p>
                         <span>Blog, E-Commerce</span>
                    </div>
                     <div class="bott_midd_cons">
                         <img src="icon/mic_icon.svg" alt="">
                         <p>Web Development</p>
                         <span>Blog, E-Commerce</span>
                    </div>
                     <div class="bott_midd_cons">
                         <img src="icon/game_icon.svg" alt="">
                         <p>Web Development</p>
                         <span>Blog, E-Commerce</span>
                    </div>
                     <div class="bott_midd_cons">
                         <img src="icon/boy_icon.svg" alt="">
                         <p>Web Development</p>
                         <span>Blog, E-Commerce</span>
                    </div>
                     <div class="bott_midd_cons">
                         <p>Web Development</p>
                         <span>Blog, E-Commerce</span>
                    </div>
                 </div>
                    <!-- ==================================== -->
            </div>
            
            
        </div>
               
        

           
        
             <div class="right_frame">

            <div class="rf_icon-1"><img src="btn_icon/contrast.svg" alt=""></div>

                <div class="rf_icon_pack">
            <div class="rf_icons"><img src="btn_icon/blog.svg" alt=""></div>
            <div class="rf_icons"><img src="btn_icon/contact.svg" alt=""></div>
            <div class="rf_icons"><img src="btn_icon/cv.svg" alt=""></div>
            <div class="rf_icons"><img src="btn_icon/home.svg" alt=""></div>
            <div class="rf_icons"><img src="btn_icon/portfolio.svg" alt=""></div>
            <div class="rf_icons"><img src="btn_icon/service.svg" alt=""></div>

                </div>
            

            
        </div>



    </div>

</div>



</body>



</html>